/* Color theme :
    black : #010101
    blue : #69779b
    light-blue : #acdbdf
    white : #f0ece2

*/

body {
    background-color: #010101;
    font-family: "Trebuchet MS";
}

#app {
    filter: blur(8px);
    -webkit-filter: blur(8px); 
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    z-index: 1;
}

#warnBox {
    position: absolute;
    background-color: #69779b;
    color: #f0ece2;
    top: 0%;
    z-index: 2;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
    text-align: center;
    padding: 10%;
}

#title {
    margin: 1%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    color: #f0ece2;
    font-size: 2.5vw;
}

h1 {
    text-align:center;
    color: #f0ece2;
}

#RequestNewAlcool {
    background-color: #69779b;

    overflow: auto;

    position: absolute;
    
    top: 25%;
    left: 25%;
    height: 60%;
    width: 50%;

    border-radius: 5vh;

    padding: 2%;
    padding-top: 0;

    display: none;
}

#Login {
    background-color: #69779b;

    overflow: auto;

    position: absolute;
    
    top: 25%;
    left: 25%;
    height: 60%;
    width: 50%;

    border-radius: 5vh;

    padding: 2%;
    padding-top: 0;

    display: none;
}

#Register {
    background-color: #69779b;

    overflow: auto;

    position: absolute;
    
    top: 25%;
    left: 25%;
    height: 60%;
    width: 50%;

    border-radius: 5vh;

    padding: 2%;
    padding-top: 0;

    display: none;
}

#addAlcoolContainer {
    display: none;
}

#table {
    background-color: #69779b;
    text-align:center;
    color: #f0ece2;
    margin: 15%;
    margin-top: 5%;
    width: 70%;
    
    border-radius: 1vh;
}

#admin {
    display: none;
}

#adminTable {
    background-color: #69779b;
    text-align:center;
    color: #f0ece2;
    margin: 15%;
    margin-top: 5%;
    width: 70%;
    
    border-radius: 1vh;
}